@import 'fonts.css';

:root {
    --sidebar-width: 253px;
}

.title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

body {
    line-height: 1.5;
    font-family: Roboto, sans-serif;
    background-color: aliceblue;
    margin: 0;
    min-height: 100vh;
}

@media (min-width: 816px) {
    body {
        padding-left: var(--sidebar-width);
    }
}

.container {
    max-width: 1280px;
    margin: auto;
    min-height: inherit;
    display: grid;
    grid-template-rows: repeat(2,auto);
    place-content: space-between;
     padding: 20px;
}

#navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: var(--sidebar-width);
  height: 100%;
  background-color: rgb(31 41 55);
}

header {
  font-size: 30px;
}

nav header {
  margin: 10px;
  text-align: center;
  color: rgb(96 165 250);
}

nav a {
  display: block;
  text-decoration: none;
  color: Ghostwhite;
  padding: 10px 10px;
}

p {
  opacity: 0.8;
  font-size: 21px;
}

h1 {
  text-align: left;
}
nav ::marker {
  color: rgb(96 165 250);
}

.reference-li {
  font-size: 21px;
}

footer {
  font-size: 21px;
  font-style: italic;
  font-weight: bold;
}

@media (max-width: 815px) {
  #navbar ul {
    height: 207px;
    margin: auto;
  }
  #navbar {
    background-color: rgb(31 41 55);
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 290px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
  }
}
